{% if settings.enable_shop_by_tags_3 %}



<div class="widget widget-filter-price widget-container widget_product_categories filter-block filter-custom filter-tag">
  {% assign tags = settings.shop_by_tags_3_list_tags | split: ',' %}
  <h2 class="title18 title-widget font-bold">{{ settings.shop_by_tags_3_title }}</h2>
  <div class="widget-content">
    <ul class="list-filter size-filter">
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% assign tag_value = tag | handleize %}
      {% if current_tags contains tag %}
      <li class="li-price active">
        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
         <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
      </li>
      {% else %}

      <li class="li-price">
        <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
        <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
      </li>

      {% endif %}
      {% endfor %}

      
    </ul>
  </div>
</div>
{% endif %}