{% if settings.enable_shop_by_tags_2 %}

<div class="widget widget-filter-price widget-container widget_product_categories filter-block filter-custom filter-tag">
  {% assign tags = settings.shop_by_tags_2_list_tags | split: ',' %}
    <h2 class="title18 title-widget font-bold">{{ settings.shop_by_tags_2_title }}</h2>
     <div class="widget-content">
    <ul class="list-filter size-filter box-list-stype">
      {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_value = tag | handleize %}
        <li class="li-price">
          <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
          <a href="javascript:void(0)" title="{{tag}}" class="{% if current_tags contains tag %}active{% endif %}">{{tag}}</a>
        </li>
      {% endfor %}
  	</ul>
  </div>
  </div>
<!-- <div class="widget widget-filter-price widget-container widget_product_categories filter-block filter-custom filter-tag">
   {% assign tags = settings.shop_by_tags_2_list_tags | split: ',' %}
  <h2 class="widget-title title14">{{ settings.shop_by_tags_2_title }}</h2>
  <div class="widget-content">
    <ul class="list-filter size-filter box-list-stype">
      {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_value = tag | handleize %}
        <li class="li-price">
          <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
          <a href="javascript:void(0)" title="{{tag}}" class="{% if current_tags contains tag %}active{% endif %}">{{tag}}</a>
        </li>
      {% endfor %}
  	</ul>
  </div>
</div> -->
{% endif %}