<ul>
  

{% for link in linklists.main-menu.links %}
  {% assign item = link.title | downcase %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}

  <li class="{%if link.active %}current-menu-item{%endif%} menu-item-has-children">
    <a href="{{ link.url }}">{{ link.title }}</a>
    <ul class="sub-menu">
      {% for childlink in linklists[child_list_handle].links %}
      {% assign grand_list_handle = childlink.title | handleize %}
      {% if linklists[grand_list_handle].links != blank %}
      <li class="menu-item-has-children">
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        <ul class="sub-menu">
          {% for grandlink in linklists[grand_list_handle].links %}
          <li><a href="{{ grandlink.url }}">{{ grandlink.title | escape }}</a></li>
          {%endfor%}

        </ul>

      </li>
      {%else%}
      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
      {%endif%}
      {% endfor %}

    </ul>
  </li>
  
  {% else %}

  {% capture megamenu_1 %}megamenu_1_parent{% endcapture %}
  {% capture megamenu_2 %}megamenu_2_parent{% endcapture %}
  {% capture megamenu_3 %}megamenu_3_parent{% endcapture %}
  {% capture megamenu_4 %}megamenu_4_parent{% endcapture %}


  {% if settings[megamenu_1] == item or settings[megamenu_2] == item  or settings[megamenu_3] == item or settings[megamenu_4] == item %}


  {% for i in (1..4) %}
  {%capture megamenu%}megamenu_{{i}}_parent{%endcapture%}
  {%capture image%}megamenu_{{i}}_image.jpg{%endcapture%}
  {%capture url%}megamenu_{{i}}_url{%endcapture%}
  {%capture banner_title%}megamenu_{{i}}_banner_title{%endcapture%}
  {%capture banner_content%}megamenu_{{i}}_banner_content{%endcapture%}
  {%capture collection_title%}megamenu_{{i}}_collection_title{%endcapture%}
  {%capture collection%}megamenu_{{i}}_collection{%endcapture%}

  {% if settings[megamenu] == item %}
  <li class="{%if link.active %}current-menu-item{%endif%} menu-item-has-children has-mega-menu">
    <a href="{{ link.url }}">{{ link.title }}</a>
    <ul class="sub-menu">
      <li>
        <div class="mega-menu">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-12">
              <div class="mega-adv">
                <div class="banner-adv fade-out-in">
                  <a href="#" class="adv-thumb-link"><img src="{{ image |asset_url}}" alt="" ></a>
                </div>
                <div class="mega-adv-info">
                  <h3 class="title24 text-uppercase"><a href="{{settings.url}}">{{settings[banner_title]}}</a></h3>
                  <p class="desc">{{settings[banner_content]}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-8 col-xs-12">
              <div class="mega-new-arrival">
                <h2 class="mega-menu-title title30 text-uppercase">{{settings.megamenu_1_collection_title}}</h2>
                <div class="mega-new-arrival-slider product-slider">
                  <div class="wrap-item group-navi" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[768,2]]">


                    {%for product in collections[settings.megamenu_1_collection].products limit:6 %}


                    {%include 'product-item-v3'%}
                    {%else%}
                    {%include 'product-item-v3-empty'%}
                    {%endfor%}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Mega Menu -->
      </li>
    </ul>
  </li>
  {% endif %}
  {% endfor %}
  {% endif %}
  
  {%unless settings[megamenu_1] == item %}
  {%unless settings[megamenu_2] == item %}
  {%unless settings[megamenu_3] == item %}
  {%unless settings[megamenu_4] == item %}
  <li class="{%if link.active %}current-menu-item{%endif%}"><a href="{{ link.url }}">{{link.title }}</a></li>
{%endunless%}
  {%endunless%}
  {%endunless%}
  {%endunless%}
  {% endif %}
  {% endfor %}
</ul>

