<div class="mini-cart-content text-left" id="CartContainer">
  {% if cart.item_count > 0 %}
<!--   <h2 class="title18 color">(<span class="CartCount">{{ cart.item_count }}</span>) ITEMS IN MY CART</h2> -->
  <div class="list-mini-cart-item">
    {% for item in cart.items %}
    <div class="product-mini-cart table">
      <div class="product-thumb">
        <a href="{{item.url}}" class="product-thumb-link"><img alt="" src="{{ item.image | product_img_url: 'small' }}"></a>
     
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="#">{{ item.title }}</a></h3>
        <div class="product-price">
          <ins><span>{{ item.price | money }}</span></ins>
         
        </div>
        <p class="qty">{{ 'cart.label.quantity' | t }}:{{ item.quantity }}</p>
      </div>
    </div>
       {% endfor %}
  </div>
  <div class="mini-cart-total  clearfix">
    <strong class="pull-left title18">{{ 'minicart.general.total_price' | t }}</strong>
    <span class="pull-right color title18">{{cart.total_price | money}}</span>
  </div>
  <div class="mini-cart-button">
    <a class="mini-cart-view shop-button" href="/cart">{{ 'minicart.general.view_cart' | t }} </a>
    <a class="mini-cart-checkout shop-button" href="/checkout">{{ 'minicart.general.checkout' | t }}</a>
  </div>
  {% else %}
	<div class="cart-empty" style="padding :30px">
        <p>{{ 'minicart.general.empty' | t }}</p>
      </div>
      <div class="cart-empty mini-cart-button" style="padding :0 30px 30px 30px">
        <a href="/collections/all" class="mini-cart-checkout">{{ 'minicart.general.shop_now' | t }}</a>
      </div>
 {% endif %}
  
</div>
