<div class="payment-method">

  {%for i in (1..6)%}
  {%capture _enable%}f_payment{{i}}_enable{%endcapture%}
  {%capture _text%}f_payment{{i}}_text{%endcapture%}
  {%capture _icon%}f_payment{{i}}_icon.png{%endcapture%}
  {%capture _url%}f_payment{{i}}_url{%endcapture%}

  {%assign enable = settings[_enable]%}
  {%assign icon = settings[_icon]%}
  {%assign url = settings[_url]%}
  {%if enable%}
  <a href="{{url}}" target="_blank" class="wobble-top"> <img src="{{_icon|asset_url}}" alt="" /></a>
  {%endif%}
  {%endfor%}


</div>