{%if section.settings.style_product ==  'main_product_left' %}

<div class="main-box1">
  <div class="main-product1">
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">Meet your new favorite Android phone</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a> 
      </div>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p1.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
  </div>
</div>
<!-- ENd Main Box -->
<div class="left-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="detail.html" class="product-thumb-link">
        <img src="{{'p2.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p3.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="right-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p4.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p5.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->


{%elsif section.settings.style_product ==  'main_product_center' %}


<div class="left-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="detail.html" class="product-thumb-link">
        <img src="{{'p2.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p3.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<div class="main-box1">
  <div class="main-product1">
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">Meet your new favorite Android phone</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a> 
      </div>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p1.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
  </div>
</div>
<!-- ENd Main Box -->
<!-- End Left Box -->
<div class="right-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p4.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p5.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->

{%elsif section.settings.style_product ==  'main_product_right' %}

<div class="left-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="detail.html" class="product-thumb-link">
        <img src="{{'p2.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p3.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="right-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p4.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p5.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="main-box1">
  <div class="main-product1">
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">Meet your new favorite Android phone</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a> 
      </div>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p1.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
  </div>
</div>
<!-- ENd Main Box -->

{%elsif section.settings.style_product ==  'no_main_product' %}
<div class="justify-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="detail.html" class="product-thumb-link">
        <img src="{{'p2.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p3.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="justify-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p4.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p5.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="justify-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="detail.html" class="product-thumb-link">
        <img src="{{'p6.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p7.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
<div class="justify-box1">
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p8.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
  <div class="item-product1">
    <h3 class="product-title"><a href="/admin/products/new">Huwei Phones</a></h3>
    <div class="product-price">
      <label>From:</label>
      <ins><span>$120.00</span></ins>
    </div>
    <div class="product-thumb">
      <a href="/admin/products/new" class="product-thumb-link">
        <img src="{{'p1.png'| asset_url}}" alt="">
      </a>
      <a href="/admin/products/new" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-rate">
        <div style="width:90%" class="product-rating"></div>
      </div>
      <div class="product-extra-link2">
        <a href="#" class="addcart-link">Add to Cart</a>
        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- End Left Box -->
{%endif%}