<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p1.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Conconut Chips</a><strong class="color pull-right">$20</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p2.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Apetito Pure Fruit Juice</a><strong class="color pull-right">$48</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p3.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Asian Banana</a><strong class="color pull-right">$53</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p4.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a><strong class="color pull-right">$35</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p5.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Conconut Chips</a><strong class="color pull-right">$27</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="detail.html" class="product-thumb-link zoom-thumb">
										<img src="{{'p6.png'| asset_url}}" alt="">
									</a>
									<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
								<div class="product-info">
									<h3 class="product-title"><a href="detail.html">Aurore Grape</a><strong class="color pull-right">$29</strong></h3>
									<p class="desc">Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look</p>
								</div>
							</div>