<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="/admin/products/new" class="product-thumb-link rotate-thumb">
      <img src="{{'p1.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
   
  </div>
</div>
<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="detail.html" class="product-thumb-link rotate-thumb">
      <img src="{{'p2.png'| asset_url}}" alt="">
      <img src="{{'p3.png'| asset_url}}" alt="">
    </a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
 
  </div>
</div>
<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="/admin/products/new" class="product-thumb-link rotate-thumb">
      <img src="{{'p3.png'| asset_url}}" alt="">
      <img src="{{'p4.png'| asset_url}}" alt="">
    </a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
   
  </div>
</div>
<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="/admin/products/new" class="product-thumb-link rotate-thumb">
      <img src="{{'p4.png'| asset_url}}" alt="">
      <img src="{{'p5.png'| asset_url}}" alt="">
    </a>

  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
    
  </div>

</div>
<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="/admin/products/new" class="product-thumb-link rotate-thumb">
      <img src="{{'p5.png'| asset_url}}" alt="">
      <img src="{{'p6.png'| asset_url}}" alt="">
    </a>

  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
    
  </div>
</div>
<div class="item-product border text-center">
  <div class="product-thumb">
    {%if section.settings.collection_product_time != blank %}
    <div class="deal-timer" data-date="{{section.settings.collection_product_time}}"></div>
    {%endif%}
    <a href="detail.html" class="product-thumb-link rotate-thumb">
      <img src="{{'p6.png'| asset_url}}" alt="">
      <img src="{{'p7.png'| asset_url}}" alt="">
    </a>

  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">Apetito Pure Fruit Juice</a></h3>
    <div class="product-price">
      <del class="silver"><span>€470.00</span></del>
      <ins class="color"><span>€450.000</span></ins>
    </div>
    <div class="product-rate">
      <div class="product-rating" style="width:100%"></div>
    </div>
    <div class="product-extra-link">
      <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
      <a href="#" class="addcart-link">Add to cart</a>
      <a href="#" class="compare-link"><i class="fa fa-search" aria-hidden="true"></i><span>quick view</span></a>
    </div>
    
  </div>
</div>

