<div class="item-deal-product5">
  <div class="product-thumb">
    <a href="detail.html" class="product-thumb-link zoomout-thumb">
      <img src="{{'p1.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
    <div class="product-label sale-label">-30%</div>
  </div>
  <div class="product-info text-center">
    <div class="product-price">
      <del class="silver"><span>€550.00</span></del>
      <ins class="color"><span>€450.00</span></ins>
    </div>
  </div>
</div>
<div class="item-deal-product5">
  <div class="product-thumb">
    <a href="detail.html" class="product-thumb-link zoomout-thumb">
      <img src="{{'p2.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
    <div class="product-label sale-label">-30%</div>
  </div>
  <div class="product-info text-center">
    <div class="product-price">
      <del class="silver"><span>€550.00</span></del>
      <ins class="color"><span>€450.00</span></ins>
    </div>
  </div>
</div>
<div class="item-deal-product5">
  <div class="product-thumb">
    <a href="detail.html" class="product-thumb-link zoomout-thumb">
      <img src="{{'p3.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
    <div class="product-label sale-label">-30%</div>
  </div>
  <div class="product-info text-center">
    <div class="product-price">
      <del class="silver"><span>€550.00</span></del>
      <ins class="color"><span>€450.00</span></ins>
    </div>
  </div>
</div>
<div class="item-deal-product5">
  <div class="product-thumb">
    <a href="detail.html" class="product-thumb-link zoomout-thumb">
      <img src="{{'p4.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
    <div class="product-label sale-label">-30%</div>
  </div>
  <div class="product-info text-center">
    <div class="product-price">
      <del class="silver"><span>€550.00</span></del>
      <ins class="color"><span>€450.00</span></ins>
    </div>
  </div>
</div>
<div class="item-deal-product5">
  <div class="product-thumb">
    <a href="detail.html" class="product-thumb-link zoomout-thumb">
      <img src="{{'p5.png'| asset_url}}" alt="">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
    <div class="product-label sale-label">-30%</div>
  </div>
  <div class="product-info text-center">
    <div class="product-price">
      <del class="silver"><span>€550.00</span></del>
      <ins class="color"><span>€450.00</span></ins>
    </div>
  </div>
</div>
