<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>
										<!-- End Item -->
										<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>
										<!-- End Item -->
										<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>
										<!-- End Item -->
										<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>
										<!-- End Item -->
										<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>
										<!-- End Item -->
										<div class="item-product item-product1 style2 text-center">
											<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link rotate-thumb">
                                              <img src="{{'p1.png'| asset_url}}" alt="">
                                              <img src="{{'p2.png'| asset_url}}" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
										</div>
										<div class="product-info">
											<h3 class="product-title"><a href="detail.html">Fresh Meal Kit</a></h3>
											<div class="product-price">
												<ins class="color"><span>€30.000</span></ins>
											</div>
											<div class="product-rate">
												<div class="product-rating" style="width:100%"></div>
											</div>
											<div class="product-extra-link">
												<a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
												<a href="#" class="addcart-link">Add to cart</a>
												<a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
											</div>
										</div>
										</div>