
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}	

<div class="item-product-price table">
  <div class="product-thumb">
    <a href="{{ product.url | within: collection }}" class="product-thumb-link zoom-thumb">
      <img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" >
    </a>
    <a href="javascript:void(0)" data-id="{{ product.handle }}"  class="quickview-link quick-view engoj-btn-quickview"><i class="fa fa-search" aria-hidden="true"></i></a>

  </div>
  {% capture price %}{{ product.price | money }}{% endcapture %}
  <div class="product-info">
    <h3 class="product-title"><a href="{{ product.url | within: collection }}">{{product.title}}</a><strong class="color pull-right">{{ price }}</strong></h3>
    <p class="desc">{{product.description | strip_html | truncate: 150 }}</p>
  </div>
</div>



