

<div class="item">
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
													<img src="{{'p1.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
												<img src="{{'p2.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
													<img src="{{'p3.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item">
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
													<img src="{{'p4.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
													<img src="{{'p5.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
										<div class="item-product-type table">
											<div class="product-thumb">
												<a href="detail.html" class="product-thumb-link zoom-thumb">
													<img src="{{'p6.png'| asset_url}}" alt="">
												</a>
												<a href="quick-view.html" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<del class="silver"><span>€550.00</span></del>
													<ins class="color"><span>€300.00</span></ins>
												</div>
												<h3 class="product-title"><a href="detail.html">Conconut Chips</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<a href="#" class="addcart-link color"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

