<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}


<section id="content">
		<div class="container">
			{%include 'breadcrumb'%}
			<!-- ENd Banner -->
			<div class="content-shop">
				<div class="row">
                  {%if section.settings.product_style == "v1" %}
					<div class="col-md-3 col-sm-4 col-xs-12">
						{% include 'collection-sidebar' %}
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="product-detail" itemscope itemtype="http://schema.org/Product">
                          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
                           <meta itemprop="image" content="{{ product.featured_image | img_url: 'grande' }}">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="detail-gallery">
										<div class="mid">
											<img src="{{product.featured_image.src | img_url: 'master' }}" alt=""/>
										</div>
										<div class="gallery-control">
											<div class="carousel">
												<ul class="list-none">
                                                  {% for image in product.images %} 
                                                  <li><a href="#" {%if forloop.first%}class="active"{%endif%}><img src="{{ image.src | img_url: 'grande' }}" alt=""/></a></li>
                                                  {% endfor %}
                                                 
												</ul>
											</div>
										
										</div>
									</div>
									<!-- End Gallery -->
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12">
                                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                              
									<div class="detail-info" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        						      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
										<h2 class="title30 font-bold">{{product.title}}</h2>
										<div class="product-price">
                                          {% capture price %}{{ product.price | money }}{% endcapture %}
                                            {% if product.compare_at_price > product.price %}
                                          <del class="silver enj-product-price"><span>{{ product.compare_at_price | money }}</span></del>
                                          {% endif %}
                                          
                                          <ins class="color" id="ProductPrice" itemprop="price" ><span>{{ price }}</span></ins>
                                        
										
										</div>
										<div class="product-rate">
										
                                          <div class="product-rating shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
										</div>
										<p class="desc">{{product.description |strip_html | truncate: 150}}</p>
                                      
                                      <select name="id" id="productSelect" class="engoj-except-select2 product-single__variants">
                                        {% for variant in product.variants %}
                                        {% if variant.available %}
                                        {% assign sku = variant.sku %}

                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                                        {% else %}
                                        <option disabled="disabled">
                                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                        </option>
                                        {% endif %}
                                        {% endfor %}
                                      </select>
										<ul class="list-inline-block wrap-qty-extra">
											<li>
												<div class="detail-qty">
                                                  
                                                    <input type="number" size="4" class="input-text qty text quantity-selector" title="Qty" value="1" min="1" id="Quantity" name="quantity" />

<!-- 													<a href="#" class="qty-down silver"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
													<span class="qty-val">1</span>
													<a href="#" class="qty-up silver"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> -->
												</div>
											</li>
											<li>
                                              <div class="product-extra-link">
                                               
                                                  <button type="submit" name="add" id="AddToCart" class="addcart-link add-to-cart-button enj-add-to-cart-btn" title="{{ settings.product_cart_name }}">
                                                    {{ settings.product_cart_name }}
                                                  </button>
                                             
                                                  </div>
											</li>
										</ul>
										<p class="desc info-extra">
											<label>Category:</label><a href="#" class="color">{{product.title}}</a>
										</p>
										<p class="desc info-extra">
											<label>Share:</label>
											{%include 'social-share'%}
										</p>
									</div>
                                  </form>
								</div>
							</div>
						</div>
						<!-- End Product Detail -->
						<div class="detail-tabs">
							<div class="title-tab-detail">
								<ul class="title-tab1 list-inline-block">
                                  {%if section.settings.show_des_tab%}
                                        <li class="active"><a href="#tab1" class="title14" data-toggle="tab" aria-expanded="true">{{ 'product_detail.description' |t}}</a></li>
                                      {%endif%}
									{%if section.settings.show_custom_tab%}
									<li class=""><a href="#tab2" class="title14" data-toggle="tab" aria-expanded="false">{{section.settings.custom_tab_title}}</a></li>
                                    {%endif%}
                                  {%if section.settings.show_review_tab%}
                                  
									<li class=""><a href="#tab3" class="title14" data-toggle="tab" aria-expanded="false">{{ 'product_detail.review' |t}} </a></li>
                                    {%endif%}
                                  
								</ul>
							</div>
                         
							<div class="tab-content">
                               {%if section.settings.show_des_tab%}
								<div id="tab1" class="tab-pane active">
									<div class="detail-descript">
										 {{product.description}} 
                                  </div>
								</div>
                              {%endif%}
                              {%if section.settings.show_custom_tab%}
								<div id="tab2" class="tab-pane">
									<div class="detail-addition">
										{{section.settings.custom_tab_content}}
									</div>
								</div>
                              {%endif%}
                              {%if section.settings.show_review_tab%}
								<div id="tab3" class="tab-pane" itemtype="http://schema.org/Review" itemscope="">
									<div class="content-tags-detail">
											<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
									
								</div>
                              </div>
                               {%endif%}
							</div>
						</div>
						<!-- End Tabs Detail -->
                      {%if section.settings.show_upsell_product %}
						<div class="related-product">
							<h2 class="title30 font-bold">{{section.settings.upsell_product_title}}</h2>
							<div class="related-product-slider product-slider">
								<div class="wrap-item group-navi" data-navigation="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
                                 {%for product in collections[section.settings.upsell_collection].products limit: section.settings.product_limit %}
                               
                                  {%include 'product-grid-collection-v1'%}
									
									{%endfor%}
									
								</div>
							</div>
						</div>

                  {%endif%}
						<!-- End Related Product -->
					</div>
                  {%elsif section.settings.product_style == "v2" %}
                  <div class="col-md-12 col-sm-12 col-xs-12">
						<div class="product-detail" itemscope itemtype="http://schema.org/Product">
                          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
                           <meta itemprop="image" content="{{ product.featured_image | img_url: 'grande' }}">
							<div class="row">
								<div class="col-md-6 col-sm-5 col-xs-12">
									<div class="detail-gallery">
										<div class="mid">
											<img src="{{product.featured_image.src | img_url: 'master' }}" alt=""/>
										</div>
										<div class="gallery-control">
											<div class="carousel">
												<ul class="list-none">
                                                  {% for image in product.images %} 
                                                  <li><a href="#" {%if forloop.first%}class="active"{%endif%}><img src="{{ image.src | img_url: 'grande' }}" alt=""/></a></li>
                                                  {% endfor %}
                                                 
												</ul>
											</div>
										
										</div>
									</div>
									<!-- End Gallery -->
								</div>
								<div class="col-md-6 col-sm-7 col-xs-12">
                                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                              
									<div class="detail-info" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        						      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
										<h2 class="title30 font-bold">{{product.title}}</h2>
										<div class="product-price">
                                          {% capture price %}{{ product.price | money }}{% endcapture %}
                                            {% if product.compare_at_price > product.price %}
                                          <del class="silver enj-product-price"><span>{{ product.compare_at_price | money }}</span></del>
                                          {% endif %}
                                          
                                          <ins class="color" id="ProductPrice" itemprop="price" ><span>{{ price }}</span></ins>
                                        
										
										</div>
										<div class="product-rate">
										
                                          <div class="product-rating shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
										</div>
										<p class="desc">{{product.description |strip_html | truncate: 150}}</p>
                                      
                                      <select name="id" id="productSelect" class="engoj-except-select2 product-single__variants">
                                        {% for variant in product.variants %}
                                        {% if variant.available %}
                                        {% assign sku = variant.sku %}

                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                                        {% else %}
                                        <option disabled="disabled">
                                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                        </option>
                                        {% endif %}
                                        {% endfor %}
                                      </select>
										<ul class="list-inline-block wrap-qty-extra">
											<li>
												<div class="detail-qty">
                                                  
                                                    <input type="number" size="4" class="input-text qty text quantity-selector" title="Qty" value="1" min="1" id="Quantity" name="quantity" />

<!-- 													<a href="#" class="qty-down silver"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
													<span class="qty-val">1</span>
													<a href="#" class="qty-up silver"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> -->
												</div>
											</li>
											<li>
                                              <div class="product-extra-link">
                                               
                                                  <button type="submit" name="add" id="AddToCart" class="addcart-link add-to-cart-button enj-add-to-cart-btn" title="{{ settings.product_cart_name }}">
                                                    {{ settings.product_cart_name }}
                                                  </button>
                                             
                                                  </div>
											</li>
										</ul>
										<p class="desc info-extra">
											<label>Category:</label><a href="#" class="color">{{product.title}}</a>
										</p>
										<p class="desc info-extra">
											<label>Share:</label>
											{%include 'social-share'%}
										</p>
									</div>
                                  </form>
								</div>
							</div>
						</div>
						<!-- End Product Detail -->
						<div class="detail-tabs">
							<div class="title-tab-detail">
								<ul class="title-tab1 list-inline-block">
                                  {%if section.settings.show_des_tab%}
                                        <li class="active"><a href="#tab1" class="title14" data-toggle="tab" aria-expanded="true">{{ 'product_detail.description' |t}}</a></li>
                                      {%endif%}
									{%if section.settings.show_custom_tab%}
									<li class=""><a href="#tab2" class="title14" data-toggle="tab" aria-expanded="false">{{section.settings.custom_tab_title}}</a></li>
                                    {%endif%}
                                  {%if section.settings.show_review_tab%}
                                  
									<li class=""><a href="#tab3" class="title14" data-toggle="tab" aria-expanded="false">{{ 'product_detail.review' |t}} </a></li>
                                    {%endif%}
                                  
								</ul>
							</div>
                         
							<div class="tab-content">
                               {%if section.settings.show_des_tab%}
								<div id="tab1" class="tab-pane active">
									<div class="detail-descript">
										 {{product.description}} 
                                  </div>
								</div>
                              {%endif%}
                              {%if section.settings.show_custom_tab%}
								<div id="tab2" class="tab-pane">
									<div class="detail-addition">
										{{section.settings.custom_tab_content}}
									</div>
								</div>
                              {%endif%}
                              {%if section.settings.show_review_tab%}
								<div id="tab3" class="tab-pane" itemtype="http://schema.org/Review" itemscope="">
									<div class="content-tags-detail">
											<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
									
								</div>
                              </div>
                               {%endif%}
							</div>
						</div>
						<!-- End Tabs Detail -->
                      {%if section.settings.show_upsell_product %}
						<div class="related-product">
							<h2 class="title30 font-bold">{{section.settings.upsell_product_title}}</h2>
							<div class="related-product-slider product-slider">
								<div class="wrap-item group-navi" data-navigation="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
                                 {%for product in collections[section.settings.upsell_collection].products limit: section.settings.product_limit %}
                               
                                  {%include 'product-grid-collection-v1'%}
									
									{%endfor%}
									
								</div>
							</div>
						</div>

                  {%endif%}
						<!-- End Related Product -->
					</div>
                  {%elsif section.settings.product_style == "v3" %}
                  <div class="col-md-9 col-sm-8 col-xs-12">
						<div class="product-detail" itemscope itemtype="http://schema.org/Product">
                          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
                           <meta itemprop="image" content="{{ product.featured_image | img_url: 'grande' }}">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="detail-gallery">
										<div class="mid">
											<img src="{{product.featured_image.src | img_url: 'master' }}" alt=""/>
										</div>
										<div class="gallery-control">
											<div class="carousel">
												<ul class="list-none">
                                                  {% for image in product.images %} 
                                                  <li><a href="#" {%if forloop.first%}class="active"{%endif%}><img src="{{ image.src | img_url: 'grande' }}" alt=""/></a></li>
                                                  {% endfor %}
                                                 
												</ul>
											</div>
										
										</div>
									</div>
									<!-- End Gallery -->
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12">
                                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                              
									<div class="detail-info" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        						      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
										<h2 class="title30 font-bold">{{product.title}}</h2>
										<div class="product-price">
                                          {% capture price %}{{ product.price | money }}{% endcapture %}
                                            {% if product.compare_at_price > product.price %}
                                          <del class="silver enj-product-price"><span>{{ product.compare_at_price | money }}</span></del>
                                          {% endif %}
                                          
                                          <ins class="color" id="ProductPrice" itemprop="price" ><span>{{ price }}</span></ins>
                                        
										
										</div>
										<div class="product-rate">
										
                                          <div class="product-rating shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
										</div>
										<p class="desc">{{product.description |strip_html | truncate: 150}}</p>
                                      
                                      <select name="id" id="productSelect" class="engoj-except-select2 product-single__variants">
                                        {% for variant in product.variants %}
                                        {% if variant.available %}
                                        {% assign sku = variant.sku %}

                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                                        {% else %}
                                        <option disabled="disabled">
                                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                        </option>
                                        {% endif %}
                                        {% endfor %}
                                      </select>
										<ul class="list-inline-block wrap-qty-extra">
											<li>
												<div class="detail-qty">
                                                  
                                                    <input type="number" size="4" class="input-text qty text quantity-selector" title="Qty" value="1" min="1" id="Quantity" name="quantity" />

<!-- 													<a href="#" class="qty-down silver"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
													<span class="qty-val">1</span>
													<a href="#" class="qty-up silver"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> -->
												</div>
											</li>
											<li>
                                              <div class="product-extra-link">
                                               
                                                  <button type="submit" name="add" id="AddToCart" class="addcart-link add-to-cart-button enj-add-to-cart-btn" title="{{ settings.product_cart_name }}">
                                                    {{ settings.product_cart_name }}
                                                  </button>
                                             
                                                  </div>
											</li>
										</ul>
										<p class="desc info-extra">
											<label>Category:</label><a href="#" class="color">{{product.title}}</a>
										</p>
										<p class="desc info-extra">
											<label>Share:</label>
											{%include 'social-share'%}
										</p>
									</div>
                                  </form>
								</div>
							</div>
						</div>
						<!-- End Product Detail -->
						<div class="detail-tabs">
							<div class="title-tab-detail">
								<ul class="title-tab1 list-inline-block">
                                  {%if section.settings.show_des_tab%}
                                        <li class="active"><a href="#tab1" class="title14" data-toggle="tab" aria-expanded="true">{{ 'product_detail.description' |t}}</a></li>
                                      {%endif%}
									{%if section.settings.show_custom_tab%}
									<li class=""><a href="#tab2" class="title14" data-toggle="tab" aria-expanded="false">{{section.settings.custom_tab_title}}</a></li>
                                    {%endif%}
                                  {%if section.settings.show_review_tab%}
                                  
									<li class=""><a href="#tab3" class="title14" data-toggle="tab" aria-expanded="false">{{ 'product_detail.review' |t}} </a></li>
                                    {%endif%}
                                  
								</ul>
							</div>
                         
							<div class="tab-content">
                               {%if section.settings.show_des_tab%}
								<div id="tab1" class="tab-pane active">
									<div class="detail-descript">
										 {{product.description}} 
                                  </div>
								</div>
                              {%endif%}
                              {%if section.settings.show_custom_tab%}
								<div id="tab2" class="tab-pane">
									<div class="detail-addition">
										{{section.settings.custom_tab_content}}
									</div>
								</div>
                              {%endif%}
                              {%if section.settings.show_review_tab%}
								<div id="tab3" class="tab-pane" itemtype="http://schema.org/Review" itemscope="">
									<div class="content-tags-detail">
											<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
									
								</div>
                              </div>
                               {%endif%}
							</div>
						</div>
						<!-- End Tabs Detail -->
                      {%if section.settings.show_upsell_product %}
						<div class="related-product">
							<h2 class="title30 font-bold">{{section.settings.upsell_product_title}}</h2>
							<div class="related-product-slider product-slider">
								<div class="wrap-item group-navi" data-navigation="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
                                 {%for product in collections[section.settings.upsell_collection].products limit: section.settings.product_limit %}
                               
                                  {%include 'product-grid-collection-v1'%}
									
									{%endfor%}
									
								</div>
							</div>
						</div>

                  {%endif%}
						<!-- End Related Product -->
					</div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
						{% include 'collection-sidebar' %}
					</div>
					
                  {%endif%}
				</div>
			</div>
			<!-- End Content Shop -->
		</div>
	</section>





  {% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
  <style>
    {% if section.settings.show_product_swatch =='dropdown' %}
    .selector-wrapper{
    display:block;
    }
    .swatch{
    display:none;
    }
    {%endif%}
  </style>

<script>
  var selectCallback = function(variant, selector) {
    console.log(1);
    var quantity = 1,
        totalPrice;
    if (variant) {
  
      if (variant.available) {
        // Selected a valid variant that is available.
        $('#AddToCart').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
        $('#AddToCart').html('Add to cart');
      } else {
        // Variant is sold out.
        $('#AddToCart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        $('#AddToCart').html('Sold out');
        
      }
      	quantity = parseInt($('#Quantity').val(),10);
        totalPrice = variant.price * quantity;
        
        if ( variant.compare_at_price > variant.price ) {
    
          $('.enj-product-price').html('<span >' +Shopify.formatMoney(variant.compare_at_price, window.money_format)+  '</span> ');
          $('#ProductPrice').html('<span class="engoj_price_main" >'+ Shopify.formatMoney(totalPrice, window.money_format) +'</span>'  );
        } else {
          $('.enj-product-price').html('<span>' +Shopify.formatMoney(variant.compare_at_price, window.money_format)+ '</span> ');
          $('#ProductPrice').html('<span  class="engoj_price_main" >'+ Shopify.formatMoney(totalPrice, window.money_format) +'</span>'  );
        }
                                  
    } else {
      // variant doesn't exist.
      $('#AddToCart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
  }
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
         
	 {
        "type": "select",
        "id": "product_style",
        "label": "product style",
        "default": "v1",
        "options": [
			{
            "value": "v1",
            "label": "sidebar left"
          },
          {
            "value": "v2",
            "label": "No sidebar"
          },
		  {
            "value": "v3",
            "label": "sidebar right"
          }
        ]
      },
       
      {
        "type": "header",
        "content": "Product Tab"
      },
      
      {
        "type": "checkbox",
        "id": "show_des_tab",
        "label": "Show des tab?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_custom_tab",
        "label": "Show custom tab?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_review_tab",
        "label": "Show review tab?",
        "default": true
      },
      {
        "type": "header",
        "content": "Custom tab"
      },
      {
        "type": "text",
        "id": "custom_tab_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "custom_tab_content",
        "label": "Custom tab html"
      },
      {
        "type": "header",
        "content": "UPSELL product"
      },
      {
        "type": "checkbox",
        "id": "show_upsell_product",
        "label": "Show upsell product?",
        "default": true
      },
      {
        "type": "text",
        "id": "upsell_product_title",
        "label": "Upsell product title",
        "default": "Upsell product"
      },
      {
        "type": "collection",
        "id": "upsell_collection",
        "label": "select collection"
      },
      {
        "type": "text",
        "id": "product_limit",
        "label": "limit",
		"default":"9"
      }
    ]
  }
{% endschema %}
