<!-- section-slider-v1.liquid -->

<div data-section-id="{{ section.id }}" data-section-type="section-category-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <section>
    <div class="container">
    <div class="fruit-list-cat">
      <div class="row">
        {%for block in section.blocks%}
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="item-fruit-cat1 item-fruit-cat1{{ section.id }} {%if forloop.index == 2 %}item-active item-center{%endif%}"> 
            <h2 class="title18 color2 text-uppercase font-bold text-center">{{block.settings.category_title}}</h2>
            <div class="title18 line-space color text-center"><i class="{{block.settings.category_icon}}"></i></div>
            <ul class="list-none cat-menu2">
               {% for link in linklists[block.settings.category_menu].links %}
              <li><a href="{{link.url}}">{{link.title}}</a></li>
              {%endfor%}
             
            </ul>
            <a href="{{block.settings.category_text_button_url}}" class="btn-viewall color">{{block.settings.category_text_button}}</a>
            <div class="cat-menu-img">
              
              <img {%if block.settings.image_image == blank%} src="{{'menu1.png'| asset_url }}" {%else%}src="{{block.settings.image_image|img_url:'master'}}"{%endif%} alt="" />
              
            </div>
          </div>
        </div>
        <style>
          .item-fruit-cat1{{ section.id }}:before{
          background-repeat: no-repeat;
          background-position: top;
          background-image: {%if block.settings.image_bg == blank %}url({{"menu0.png"|asset_url}}) {%else%}url({{block.settings.image_bg|img_url:"large"}}){%endif%};
          
          }
        </style>
        {%endfor%}
       
      </div>
    </div>
      </div>
  </section>



</div>


{% schema %}
{
  "name": "Section category v1",
  "class": "index-section",
  "settings": [
	 
      {
        "type": "header",
        "content": "Section Space"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "category",
      "limit": 3 ,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": "Background"
        },
        {
          "type": "image_picker",
          "id": "image_image",
          "label": "Featured image"
        },
        {
          "type": "text",
          "id": "category_icon",
          "label": "Icon",
          "default":"fa fa-pagelines"
        },
		{
          "type": "text",
          "id": "category_title",
          "label": "Title",
		  "default":"VEGETABLES"
        },
		{
          "type": "link_list",
          "id": "category_menu",
          "label": "Select menu"
        },
		{
          "type": "text",
          "id": "category_text_button",
          "label": "Text button",
		  "default":"View all"
        },
        {
          "type": "url",
          "id": "category_text_button_url",
          "label": "Url button"
        }

      ]
    }
	
  ],
  "presets": [{
    "name": "Category v1",
    "category": "category",
    "blocks": [
      {
        "type": "category"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      }

    ]
  }]
}
{% endschema %}