

<div data-section-id="{{ section.id }}" data-section-type="section-our-team" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <section class="our-team">
    <div class="container">
			<div class="decate-farmer">
				<h2 class="text-center font-bold title30">{{section.settings.section_title}}</h2>
				<div class="decate-slider">
					<div class="wrap-item" data-pagination="false" data-itemscustom="[[0,1],[990,2]]" data-autoplay="true">
                      {%for block in section.blocks%}
						<div class="item-decate">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="decate-thumb banner-adv zoom-out">
										<a href="{{block.settings.team_image_url}}" class="adv-thumb-link">
										
                                          
                                          {%if block.settings.team_image == blank %}
                                          <img src="{{"farm1.jpg"|asset_url}}" alt="" />
                                          {%else%}
                                          <img src="{{block.settings.team_image|img_url:"master"}}" alt="" />
                                          {%endif%}
                                           {%if block.settings.team_image == blank %}
                                          <img src="{{"farm1.jpg"|asset_url}}" alt="" />
                                          {%else%}
                                          <img src="{{block.settings.team_image|img_url:"master"}}" alt="" />
                                          {%endif%}
										</a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="decate-info">
										<h3 class="title18 font-bold"><a href="{{block.settings.team_image_url}}">{{block.settings.team_name}}</a></h3>
										<p class="color">{{block.settings.team_work}}</p>
										<p class="desc">{{block.settings.team_content}}</p>
										<div class="social-network">
											{{block.settings.team_social}}
										</div>
              
									</div>
								</div>
							</div>
						</div>
                        {%endfor%}
						
					</div>
				</div>
			</div>
		</div>
    
  </section>
</div>

{% schema %}
{
  "name": "our team v2",
  "class": "index-section",
  "settings": [
	 
      {
        "type": "header",
        "content": "Section Space"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
          "type": "text",
          "id": "section_title",
          "label": "Title",
          "default":"Dedicated Farmer"
      }

  ],
    "blocks": [
      
	  {
      "type": "our_team",
      "name": "Member",
      "settings": [
    	{
          "type": "image_picker",
          "id": "team_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "team_image_url",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "team_name",
          "label": "Name",
		  "default":"Jonathan"
        },
        {
          "type": "text",
          "id": "team_work",
          "label": "Work",
		  "default":"sale"
        },
        {
          "type": "textarea",
          "id": "team_content",
          "label": "Content",
          "default":"Meet the maker of our bread – our fabulous baker boy alberto Trombin. He creates superb bread in their Melbourne-based bread-quarters."
        },
        {
          "type": "textarea",
          "id": "team_social",
          "label": "Social",
          "default":"<a href=\"#\"><i class=\"fa fa-facebook\"></i><\/a><a href=\"#\"><i class=\"fa fa-twitter\"></i><\/a><a href=\"#\"><i class=\"fa fa-instagram\"></i><\/a><a href=\"#\"><i class=\"fa fa-google-plus\"></i><\/a>"
        }

        
      ]
      }
	

    ],

 
  "presets": [{
    "name": "our team v2",
    "category": "Our team",
        "blocks": [
                {
                "type": "our_team"
                },
                {
                "type": "our_team"
                },
                {
                "type": "our_team"
                }
            ]
   
  }]
}
{% endschema %}
