<!-- section-slider-v1.liquid -->

<div data-section-id="{{ section.id }}" data-section-type="section-category-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <section>
    <div class="container">
      <div class="pop-cat3">
				<h2 class="title30 font-bold text-center">{{section.settings.section_title}}</h2>
				<div class="popcat-slider3">
					<div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,2],[990,3]]">
                       {%for block in section.blocks%}
						<div class="item-popcat3">
							<div class="banner-adv overlay-image zoom-out">
								<a href="{{block.settings.category_text_button_url}}" class="adv-thumb-link">
									
                                    <img {%if block.settings.image_image == blank%} src="{{'pop1.jpg'| asset_url }}" {%else%}src="{{block.settings.image_image|img_url:'master'}}"{%endif%} alt="" />
                                   <img {%if block.settings.image_image == blank%} src="{{'pop1.jpg'| asset_url }}" {%else%}src="{{block.settings.image_image|img_url:'master'}}"{%endif%} alt="" />
							
								</a>
							</div>
							<div class="popcat-info3 text-center white bg-color">
								<h3 class="title18 text-uppercase font-bold">{{block.settings.category_title}}</h3>
								<p class="desc white">{{block.settings.category_text}}</p>
								<a href="{{block.settings.category_text_button_url}}" class="btn-arrow color2 style2">{{block.settings.category_text_button}}</a>
							</div>
						</div>
                      {%endfor%}
					</div>
				</div>
			</div>


      </div>
  </section>



</div>


{% schema %}
{
  "name": "Section category v2",
  "class": "index-section",
  "settings": [
	 
      {
        "type": "header",
        "content": "Section Space"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
     {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "Popular Categories"
      }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "category",
      "settings": [
        
        {
          "type": "image_picker",
          "id": "image_image",
          "label": "Featured image"
        },
       
		{
          "type": "text",
          "id": "category_title",
          "label": "Title",
		  "default":"VEGETABLES"
        },
		{
          "type": "textarea",
          "id": "category_text",
          "label": "Select menu",
		  "default":"Wild fruit can be found just about anywhere, from city parks to the side of the highway. Even overgrown lots can be an ideal place to find bramble berries"
        },
		{
          "type": "text",
          "id": "category_text_button",
          "label": "Text button",
		  "default":"View category"
        },
        {
          "type": "url",
          "id": "category_text_button_url",
          "label": "Url button"
        }

      ]
    }
  ],
  "presets": [{
    "name": "Category v2",
    "category": "category",
    "blocks": [
      {
        "type": "category"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      }

    ]
  }]
}
{% endschema %}