
<div data-section-id="{{ section.id }}" data-section-type="section-banner-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <section >
    <div class="container">
      
      <div class="list-adv8">
				<div class="row">
                  {%for block in section.blocks %}
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="item-adv8 banner-adv zoom-out">
							<div class="info-adv8 text-center white" style="background:{{block.settings.banner1_color}}">
								<h2 class="title30 text-uppercase font-bold">{{block.settings.banner1_title}}</h2>
								<h3 class="title18">{{block.settings.banner1_text}}</h3>
							</div>
							<a href="{{block.settings.banner1_url}}" class="adv-thumb-link">
								<img  {%if block.settings.banner1_image == blank%} src="{{'ad21.jpg'| asset_url }}"{%else%} src="{{block.settings.banner1_image|img_url:'grande'}}"  {%endif%} alt="">
						        <img  {%if block.settings.banner1_image_hover == blank%} src="{{'ad21.jpg'| asset_url }}"{%else%} src="{{block.settings.banner1_image_hover|img_url:'grande'}}"  {%endif%} alt="">
						 
								
							</a>
						</div>
					</div>
                 
                  {%endfor%}
					
				</div>
			</div>

    </div>
  </section>
</div>

{% schema %}
{
  "name": "Section banner v5",
  "class": "index-section",
  "settings": [
	 
      {
        "type": "header",
        "content": "Section Space"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
      
  ],
"blocks": [
      {
      "type": "banner",
      "name": "banner",
      "settings": [
    	{
        "type": "color",
        "id": "banner1_color",
        "label": "backgound color",
        "default":"#ffba00"
      },
	  {
        "type": "image_picker",
        "id": "banner1_image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "banner1_image_hover",
        "label": "Image"
      },
  	  {
        "type": "text",
        "id": "banner1_title",
        "label": "title",
        "default": "Orange Fruit"
      },
      {
        "type": "text",
        "id": "banner1_text",
        "label": "text",
        "default": "€ 180.00"
      },
	  
	  {
        "type": "url",
        "id": "banner1_url",
        "label": "Url"
      }
      ]
      }
      

    ],

  "presets": [{
    "name": "Banner v5",
    "category": "Banner",
    "blocks": [
                {
                "type": "banner"
                },
                {
                "type": "banner"
                },
                {
                "type": "banner"
                }
            ]
   
  }]
}
{% endschema %}