<!-- section-slider-v1.liquid -->

<div data-section-id="{{ section.id }}" data-section-type="section-slider-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
<section class="slider-show">
  <div class="container">
    
    <div class="content-top4">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="wrap-cat-icon bg-white drop-shadow">
							<h2 class="title18 text-uppercase font-bold">{{section.settings.category_title}}</h2>
							<ul class="list-none list-cat-icon">
                              {%for block in section.blocks%}
                              {%if block.type == 'category' %}
								<li {%if block.settings.show_megamenu%}class="has-cat-mega" {%endif%}>
									<a href="{{block.settings.category_url}}">{%if block.settings.category_icon != blank %}<img alt="" src="{{block.settings.category_icon|img_url:'small'}}">{%endif%}<span>{{block.settings.category_name}}</span></a>
									{%if block.settings.style_column1 == 'style1' %}
                                  <div class="cat-mega-menu cat-mega-style1">
										<div class="row">
											<div class="col-md-4 col-sm-3">
												<div class="list-cat-mega-menu">
													<h2 class="title-cat-mega-menu">{{block.settings.col1_title}}</h2>
													<ul>
                                                      {% for link in linklists[block.settings.col1_menu].links %}
														<li><a href="{{link.url}}">{{link.title}}</a></li>
                                                      {%endfor%}
													</ul>
												</div>
											</div>
											<div class="col-md-4 col-sm-3">
												<div class="list-cat-mega-menu">
													<h2 class="title-cat-mega-menu">{{block.settings.col2_title}}</h2>
													<ul>
														{% for link in linklists[block.settings.col2_menu].links %}
														<li><a href="{{link.url}}">{{link.title}}</a></li>
                                                      {%endfor%}
													</ul>
												</div>
											</div>
											<div class="col-md-4 col-sm-3">
												<div class="banner-image">
													<a href="{{block.settings.col3_url}}"><img alt="" src="{{block.settings.col3_banner|img_url:'grande'}}"></a>
												</div>
											</div>
										</div>
									</div> 
                                  {%else%}
                                  <div class="cat-mega-menu cat-mega-style2">
										<h2 class="title-cat-mega-menu">{{block.settings.title_style_2}}</h2>
										<div class="row">
                                          {% for i in (1..3) %}
                                          {%capture _product%}col{{i}}_product{%endcapture%}
                                          {%assign product = all_products[block.settings[_product]] %}
                                          
											<div class="col-md-4 col-sm-3">
                                       
												{% include 'product-item-v3' %}
											</div>
                                          {%endfor%}

										</div>
									</div>
                                  {%endif%}
								</li>
                              {%endif%}
                              {%endfor%}
								
							</ul>
							<ul class="list-none list-shop-pages">
                              {%for block in section.blocks%}
                              {%if block.type == 'menu' %}
                              {%for link in linklists[block.settings.menu_linklist].links %}
								<li><a href="{{link.url}}" class="text-uppercase">{{link.title}}</a></li>
                              {%endfor%}
                              {%endif%}
                              {%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-8 col-xs-12">
						<div class="banner-slider banner-slider4 bg-slider drop-shadow">
							<div class="wrap-item" data-transition="fade" data-pagination="false" data-autoplay="true" data-navigation="true" data-itemscustom="[[0,1]]">
								{%for block in section.blocks %}
                              {%if block.type == 'slider' %}
                              
                              <div class="item-slider item-slider4">
									<div class="banner-thumb">
										<a href="{{block.settings.slider_text_button_url}}">
                                          
                                          {%if block.settings.image_slider == blank%}
                                            <img  src="{{'slide13.jpg'| asset_url }}" alt="">
                                            {%else%}
                                            <img src="{{block.settings.image_slider|img_url:'master'}}" alt="" />
                                            {%endif%}
                                      
                                      </a>
									</div>
									<div class="banner-info text-center">
										<h2 class="color title30 paci-font" style="color:{{block.settings.slider_text_1_color}}">{{block.settings.slider_text_1}}</h2>
										<h2 class="title30 text-uppercase font-bold" style="color:{{block.settings.slider_text_2_color}}">{{block.settings.slider_text_2}}</h2>
										<a href="{{block.settings.slider_text_button_url}}" class="btn-arrow btn-arrow{{block.id}} style2 bg-color" style=" color:{{block.settings.slider_text_button_color}}; 
                                background:{{block.settings.slider_button_background}};" >{{block.settings.slider_text_button}}</a>
									</div>
								</div>
                       
                              {%endif%}
                              {%endfor%}
								
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="list-ads4">
							<div class="row">
                              {%for block in section.blocks%}
                              		{%if block.type == 'banner' %}
                                 
                              <div class="col-md-12 col-sm-4 col-xs-4">
									<div class="item-ads4">
										<a href="{{block.settings.product_url}}" class="wobble-bottom drop-shadow">
                                         
                                          <img  src=" {%if block.settings.product_image == blank%}{{'ads1.png'| asset_url }} {%else%}{{block.settings.product_image|img_url:'large'}}{%endif%}" alt="" />
                                      </a>
									</div>
								</div>
                                   {%endif%}
                              {%endfor%}  
								
							</div>
						</div>
					</div>
				</div>
			</div>
    
		</div>
</section>
</div>


{% schema %}
{
  "name": "Section Slideshow v4",
  "class": "index-section",
  "settings": [
	 {
        "type": "text",
        "id": "category_title",
        "label": "Title category",
        "default": "category"
      },
      {
        "type": "header",
        "content": "Section Space"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_slider",
          "label": "Image"
        },
		
		{
          "type": "text",
          "id": "slider_text_1",
          "label": "Text 1",
		  "default":"sunglasses"
        },
		{
          "type": "color",
          "id": "slider_text_1_color",
          "label": "Text color"
        },
	    
		{
          "type": "text",
          "id": "slider_text_2",
          "label": "Text 2",
		  "default":"From 299$"
        },
		{
          "type": "color",
          "id": "slider_text_2_color",
          "label": "Text color"
        },
		{
          "type": "text",
          "id": "slider_text_button",
          "label": "Text button",
		  "default":"Shop now!"
        },
		{
          "type": "url",
          "id": "slider_text_button_url",
          "label": "Url"
        },
		{
          "type": "color",
          "id": "slider_text_button_color",
          "label": "Text color"
        },
		{
          "type": "color",
          "id": "slider_button_background",
          "label": "background button"
        }

      ]
    },
	{
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "category_name",
          "label": "Category name",
		  "default":"fruit"
        },
		{
          "type": "image_picker",
          "id": "category_icon",
          "label": "Category icon"
        },
		{
          "type": "url",
          "id": "category_url",
          "label": "Category url"
        },
		{
          "type": "header",
          "content": "megamenu"
      	},
		{
          "type": "checkbox",
          "id": "show_megamenu",
          "label": "Show megamenu"
        },
		{
            "type": "select",
            "id": "style_column1",
            "options": [
              {
                "value": "style1",
                "label": "Style 1"
              },
              {
                "value": "style2",
                "label": "Style 2"
              }

            ],
            "label": "Select style",
            "default": "style1"
        },
		{
          "type": "paragraph",
          "content": "Style 1"
      	},
		{
          "type": "text",
          "id": "col1_title",
          "label": "Column 1 title"
        },
		{
          "type": "link_list",
          "id": "col1_menu",
          "label": "Select menu"
        },
		{
          "type": "text",
          "id": "col2_title",
          "label": "Column 2 title"
        },
		{
          "type": "link_list",
          "id": "col2_menu",
          "label": "Select menu"
        },
		{
          "type": "image_picker",
          "id": "col3_banner",
          "label": "banner"
        },
		{
          "type": "url",
          "id": "col3_url",
          "label": "Url"
        },
		{
          "type": "paragraph",
          "content": "Style 2"
      	},
		{
          "type": "text",
          "id": "title_style_2",
          "label": "Title",
		  "default":"Special product"
        },
		{
          "type": "product",
          "id": "col1_product",
          "label": "Product 1"
        },
		{
          "type": "product",
          "id": "col2_product",
          "label": "product 2"
        },
		{
          "type": "product",
          "id": "col3_product",
          "label": "product 3"
        }
		

      ]
    },
    {
      "type": "menu",
      "name": "menu",
      "limit":1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu_linklist",
          "label": "Select menu"
        }
		
      ]
    },
	{
      "type": "banner",
      "name": "Banner",
      "limit": 3 ,
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Image"
        },
		
		{
          "type": "url",
          "id": "product_url",
          "label": "Url"
        }
		
		
      ]
    }
    
  ],
  "presets": [{
    "name": "Slider v4",
    "category": "Slidershow",
    "blocks": [
      {
        "type": "slider"
      },
	  {
        "type": "slider"
      },
	  {
        "type": "slider"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      },
	  {
        "type": "category"
      },
      {
        "type": "menu"
      },
	  {
        "type": "banner"
      },
	  {
        "type": "banner"
      },
	  {
        "type": "banner"
      }

    ]
  }]
}
{% endschema %}