
<section id="content">
		<div class="container">
			<div class="content-page">
				<div class="contact-map border">
					{{settings.contact_google_iframe}}
              
              </div>
				<div class="contact-info-page">
					<div class="list-contact-info">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="item-contact-info text-center">
									<a class="contact-icon color wobble-horizontal" href="#"><i class="{{settings.contact_icon1}}"></i></a>
									<h2 class="title18 text-upperrcase font-bold">{{settings.contact_text1}}</h2>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="item-contact-info text-center">
									<a class="contact-icon color wobble-horizontal" href="#"><i class="{{settings.contact_icon2}}"></i></a>
									<h2 class="title18 text-upperrcase font-bold">{{settings.contact_text2}}</h2>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="item-contact-info text-center">
									<a class="contact-icon color wobble-horizontal" href="#"><i class="{{settings.contact_icon3}}"></i></a>
									<h2 class="title18 text-upperrcase font-bold">{{settings.contact_text3}}</h2>
								</div>
							</div>
						</div>
					</div>
					<p class="desc">{{settings.contact_description}}</p>
				</div>
				<div class="contact-form-page">
					<h2 class="title30 text-uppercase font-bold">{{settings.contact_form_title}}</h2>
					<div class="form-contact">
                      
                       {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}
					
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input type="text"  id="ContactFormName" value="Name *" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue">
								
                                 	</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									  <input type="email"class="form-control"  id="ContactFormEmail" value="email *"  name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}"  onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue">
							</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input type="text" class="form-control" value="Website" placehoder="website" name="contact[website]" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue">
							</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									 <textarea placeholder="Comment" cols="30" rows="8" id="ContactFormMessage" name="contact[body]" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" ></textarea>
                       
                                  
                                  <input class="shop-button" value="{{ 'contact.form.submit' | t }}" type="submit">
								</div>
							</div>
				
                   {% endform %}
					</div>
				</div>
			</div>	
			<!-- End Content Page -->
		</div>
	</section>


