  <div class="content-page">
    {%include 'breadcrumb'%}
{% paginate search.results by 10 %}

<div class="container">

  {% if search.results_count == 0 or search.performed == false %}
    <div class="empty-page-content text-center">
      <h1 class="h2">{{ 'general.search.title' | t }}</h1>
  {% else %}
    <div class="section-header text-center">
      <h1 class="h2">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
  {% endif %}
        <div class="grid">
          <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
            <form action="/search" method="get" role="search" class="search">
              <div class="input-group">
                <input type="search"
                  id="SearchInput"
                  class="input-group__field search__input"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  autofocus style="margin-bottom:20px;">
                <span class="input-group__btn">
                  <button class="btn btn-primary search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        {% if search.performed and search.results_count == 0 %}
          <hr class="hr--small hr--invisible">
          <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        {% endif %}
  </div>
</div>


{% if search.performed %}
  {% if search.results_count > 0 %}
  {% endif %}
  <div class="container">
   
      
      <div class="products ver2 grid_full grid_sidebar hover-shadow furniture grid--uniform">
         {% for product in search.results %}
          <div class="item-inner">
                 {% include 'product-item'%}
        </div>
         {% endfor %}
              </div>
    
   
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endif %}

{% endpaginate %}
    </div>
